<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <form th:action="@{/logout}" method="get">
        <button class="btn btn-md btn-danger btn-block" name="registration"
                type="Submit">Logout
        </button>
    </form>

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${userName}"></span>
            </div>
            <div>
                <div class="container">
                    Base Currency: <span th:text="${baseCurrency}"></span>
                </div>
            </div>
            <div class="panel-body">
                <div class="container">
                    <h1>Currency Converter</h1>
                    <table>
                        <div class="nine columns">
                            <th>
                            <td>Currency</td>
                            <td>Description</td>
                            <td>Rate</td>
                            </th>
                            <tr class="row" th:each="currency : ${currencyList}">
                                <td th:text="${currency.key}"> </td>
                                <td th:text="${currency.value}"></td>
                                <td th:text="${currencyRateList.get(currency.key)}"></td>
                            </tr>

                        </div>
                    </table>
            </div>
        </div>
    </div>

    </div>

</div>
</body>
</html>